{% extends 'global/base.html' %}
{% block title %}
  Clientes
{% endblock %}

{% block content %}
    <h2 style="text-align: center;">──────────────────── ⋆⋅☆⋅⋆ ────────────────────</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url 'urlindex' %}" class="nav-link">Página inicial</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'urlprodutos' %}" class="nav-link">Produtos</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlclientes' %}" class="nav-link">Clientes</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlsalvarClientes' %}" class="nav-link">Salvar clientes</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlcontato' %}" class="nav-link">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <h3>Lista de clientes</h3>
    
    <table class="table table-primary table-hover">
        
        
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de nascimento</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cli %}
            <tr class="table table-light">
                <td>{{ c.nome }}</td>
                <td>{{ c.sobrenome }}</td>
                <td>{{ c.data_nascimento }}</td>
                <td>{{ c.cpf }}</td>
                <td>{{ c.telefone }}</td>
                <td>{{ c.email }}</td>
                <td>
                    <form action="{% url 'urleditaCliente' c.id %}">
                        <input type="submit" value="Editar" class="btn btn-warning">
                    </form>
                </td>
                <td>
                    <form action="">
                        <input type="submit" value="Excluir" class="btn btn-danger">
                    </form>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

        <form action="{% url 'urlsalvarClientes' %}" method="get">
            <input type="submit" value="Novo cliente" class="btn btn-primary">
        </form>
{%endblock%}