{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    {% bootstrap_css %}
</head>
<body>
    <h3>Lista de clientes</h3>
    
    <table class="table table-primary table-hover">
        
        
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de nascimento</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cli %}
            <tr class="table table-light">
                <td>{{ c.nome }}</td>
                <td>{{ c.sobrenome }}</td>
                <td>{{ c.data_nascimento }}</td>
                <td>{{ c.cpf }}</td>
                <td>{{ c.telefone }}</td>
                <td>{{ c.email }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

        <a href="cadastraClientes.html" class="btn btn-primary">Novo cliente</a>
</body>
</html>