{% extends 'global/base.html' %}
{% block title %}
  Entrar no Site
{% endblock %}

{% block content %}
    <h2 style="text-align: center;">──────────────────── ⋆⋅☆⋅⋆ ────────────────────</h2>
    
    <div class="container py-5">
        <form action="{% url 'urlentrar' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label> Usuário </label>
                <input type="text" name="usuario" class="form-control" placeholder="Digite seu nome de usuário" required>
            </div>

            <div class="mb-3">
                <label> Senha </label>
                <input type="password" name="senha" class="form-control" placeholder="Digite a sua senha" required>
            </div>

            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}