{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar no site</title>
    {% bootstrap_css%}
</head>
<body>
    <h2 style="text-align: center;">──────────────────── ⋆⋅☆⋅⋆ ────────────────────</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url 'urlindex' %}" class="nav-link">Página inicial</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'urlprodutos' %}" class="nav-link">Produtos</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlclientes' %}" class="nav-link">Clientes</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlsalvarClientes' %}" class="nav-link">Salvar clientes</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlcontato' %}" class="nav-link">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container py-5">
        <form action="{% url 'urlentrar' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label> Usuário </label>
                <input type="text" name="usuario" class="form-control" placeholder="Digite seu nome de usuário" required>
            </div>

            <div class="mb-3">
                <label> Senha </label>
                <input type="password" name="senha" class="form-control" placeholder="Digite a sua senha" required>
            </div>

            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>