{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    {% bootstrap_css %}
</head>
<body>

    <ul class="list-group">
        <h3>Outras páginas</h3>
        <li class="list-group-item"><a href="{% url 'urlprodutos' %}">Produtos</a></li>
        <li class="list-group-item"><a href="{% url 'urlclientes' %}">Clientes</a></li>
        <li class="list-group-item"><a href="{% url 'urlsalvarClientes' %}">Salvar clientes</a></li>
        <li class="list-group-item"><a href="{% url 'urlcontato' %}">Contato</a></li>
    </ul>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <h3>Outras páginas</h3>
                <li class="nav-item active">
                    <a href="{% url 'urlprodutos' %}" class="nav-link">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'urlclientes' %}" class="nav-link">Clientes</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'urlsalvarClientes' %}" class="nav-link">Salvar clientes</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'urlcontato' %}" class="nav-link">Contato</a>
                </li>
            </ul>
        </div>
    </nav> -->

    <h1>Lista de Produtos</h1>

    <table border="1" class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>Qtde</th>
                <th>Data de Validade</th>
            </tr>
        </thead>
        <tbody>
            {% for p in prod %}
            <tr>
                <td>{{ p.nome }}</td>
                <td>{{ p.descricao }}</td>
                <td>{{ p.preco }}</td>
                <td>{{ p.qtde }}</td>
                <td>{{ p.data_de_validade }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <a href="{% url 'urlsalvarProdutos' %}" class="btn btn-primary">Novo produto</a>
    </div>

    <form action="{% url 'urlsair' %}">
        <input type="submit" value="Sair" class="btn btn-danger">
    </form>

</body>
</html>