{% extends 'global/base.html' %}
{% block title %}
  Produtos
{% endblock %}

{% block content %}
    
    <h2 style="text-align: center;">──────────────────── ⋆⋅☆⋅⋆ ────────────────────</h2>

    <h1>Lista de Produtos</h1>

    <table border="1" class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>Qtde</th>
                <th>Data de Validade</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for p in prod %}
            <tr>
                <td>{{ p.nome }}</td>
                <td>{{ p.descricao }}</td>
                <td>{{ p.preco }}</td>
                <td>{{ p.qtde }}</td>
                <td>{{ p.data_de_validade }}</td>
                <td>
                    <a href="{% url 'urleditarProdutos' p.id %}" class="btn btn-warning">Editar</a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <a href="{% url 'urlsalvarProdutos' %}" class="btn btn-primary">Novo produto</a>
        <a href="{% url 'urlsair' %}" class="btn btn-danger">Sair</a>
    </div>

{% endblock %}