{% load bootstrap5%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastra Clientes</title>
    {% bootstrap_css%}
</head>
<body>

    <h2 style="text-align: center;">──────────────────── ⋆⋅☆⋅⋆ ────────────────────</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url 'urlprodutos' %}" class="nav-link">Produtos</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlclientes' %}" class="nav-link">Clientes</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlsalvarClientes' %}" class="nav-link">Salvar clientes</a>
                </li>

                <li class="nav-item active">
                    <a href="{% url 'urlcontato' %}" class="nav-link">Contato</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Formulário de Cadastro de Cliente</h1>

        <form action="{% url 'urlsalvarClientes' %}" method="POST" class="form">
            {% csrf_token %}
            <p><input type="text" name="nome" id="nome" placeholder="Insira seu nome.."></p>
            <p><input type="text" name="sobrenome" id="sobrenome" placeholder="Insira seu sobrenome.."></p>
            <p><input type="tel" name="telefone" id="telefone" placeholder="Insira seu número.."></p>
            <p><input type="email" name="email" id="email" placeholder="Insira seu email.."></p>
            <p><input type="number" name="cpf" id="cpf" placeholder="Insira seu CPF.."></p>
            <p><input type="submit" value="Cadastrar" class="btn btn-submit btn-primary btn-outline-info"></p>
        </form>
    </div>
</body>
</html>